body {
    background: linear-gradient(rgba(59, 93, 80, 0.8), rgba(59, 93, 80, 0.8)), url("../images/background1.jpg");
    background-size: cover;
    backdrop-filter: blur(5px);
}

.login-container {
    background-color: rgba(255, 255, 255, 0.8);
    /* Putih dengan opasitas 80% */
    border-radius: 10px;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
    /* Sedikit lebih gelap untuk kontras */
    padding: 20px;
    max-width: 500px;
    margin: auto;
    backdrop-filter: blur(3px);
    /* Menambahkan efek blur untuk kesan elegan */
}

.register-container {
    background-color: rgba(255, 255, 255, 0.8);
    /* Putih dengan opasitas 80% */
    border-radius: 10px;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
    /* Sedikit lebih gelap untuk kontras */
    padding: 20px;
    max-width: 500px;
    margin: auto;
    backdrop-filter: blur(3px);
}
.logo {
    text-align: center;
    margin-bottom: 20px;
}

.error,
.success {
    text-align: center;
    margin-top: 10px;
}

.form-check-label {
    margin-left: 10px;
}



.logo {
    text-align: center;
    margin-bottom: 20px;
}

.error,
.success {
    text-align: center;
    margin-top: 10px;
}

.form-control.is-invalid {
    border-color: #dc3545;
}

.form-control.is-valid {
    border-color: #28a745;
    background-image: none;
    /* Menghilangkan ikon centang hijau */
}

.invalid-feedback {
    display: block;
}

.password-field {
    position: relative;
}

.eye-icon {
    position: absolute;
    top: 50%;
    right: 10px;
    transform: translateY(-50%);
    cursor: pointer;
}