body {
    background: linear-gradient(rgba(59, 93, 80, 0.8), rgba(59, 93, 80, 0.8)), url("../images/background1.jpg");
    background-size: cover;
    backdrop-filter: blur(5px);
}

.login-container,
.register-container {
/* From https://css.glass */
    background: rgba(255, 255, 255, 0.09);
    border-radius: 16px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
    border: 1px solid rgba(255, 255, 255, 0.3);
    padding: 20px;
    max-width: 500px;
    margin: auto;
}



h1 {
    font-size: 24px;
    text-align: center;
    margin-bottom: 20px;
}

h1,
p , label{
    color: white;
}

p {
    font-size: 14px;
    color: #dfe6e9;
    /* Warna teks abu-abu terang */
    margin-bottom: 20px;
    text-align: center;
}

p a {
    color: #00cec9;
    /* Warna hijau terang untuk link */
    text-decoration: none;
}

p a:hover {
    text-decoration: underline;
}

input[type="text"],
input[type="password"],
input[type="email"] {
    width: 100%;
    padding: 12px;
    margin: 10px 0;
    border: none;
    border-radius: 8px;
    background-color: rgba(255, 255, 255, 0.2);
    /* Transparansi input */
    color: rgb(255, 255, 255);
    /* Warna teks */
    font-size: 14px;
}

input[type="text"]::placeholder,
input[type="password"]::placeholder,
input[type="email"]::placeholder {
    color: rgba(255, 255, 255, 0.7);
    /* Placeholder transparan */
}

button {
    width: 100%;
    padding: 12px;
    margin: 20px 0;
    background-color: #00b894;
    /* Hijau terang */
    border: none;
    border-radius: 8px;
    color: white;
    font-size: 16px;
    font-weight: bold;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

button:hover {
    background-color: #019875;
    /* Hijau lebih gelap */
}

.eye-icon {
    position: absolute;
    top: 50%;
    right: 10px;
    transform: translateY(-50%);
    cursor: pointer;
    color: rgba(255, 255, 255, 0.7);
}

.form-group {
    position: relative;
    margin-bottom: 15px;
}

.avatar {
    display: block;
    margin: 0 auto;
    border-radius: 50%;
    width: 80px;
    height: 80px;
    object-fit: cover;
    border: 3px solid #00cec9;
    margin-bottom: 15px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3);
}